body {
    background-color: black;
    outline: 2px solid red;
}

h1 {
    color: skyblue;
    text-align: center;
}

p {
    color: skyblue;
    text-align: center;
}

#monster-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.monstas {
    width: 30%;
}

.Box1 {
    display: flex;
    
    width: 100%;
}

.Great {
    width: 40%;
    outline: 2px solid yellow;
    color: skyblue;
    
}

.Jagras {
    width: 95%;
}

.Pukei {
    width: 40%;
    outline: 2px solid green;
    color: skyblue;
}
.Puki {
    width: 95%;
}

.Kulu {
    width: 40%;
    outline: 2px solid grey;
    color: skyblue;
}

.KuluYa {
    width: 95%;
}

.Anja {
    width: 40%;
    outline: 2px solid red;
    color: skyblue;
}

.Anji {
    width: 95%;
}

.box2 {
    display: flex;

    width: 100%;
}

.Barroth {
    width: 40%;
    outline: 2px solid brown;
    color: skyblue;
}

.Barro {
    width: 95%;
}

.Jyura {
    width: 40%;
    outline: 2px solid burlywood;
    color: skyblue;
}

.Jyuratodus {
    width: 95%;
}
